@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgb(1, 110, 143);
    height: 100vh;
}

#root {
    height: 100%;
}

.container {
    background: #E9E9E9;
    max-width: 350px;
    /* max-height: 300px; */
    padding: 3px;
    margin: 0 auto;

    /* bellow snippet is 'middle div' from https://stackoverflow.com/questions/396145/how-can-i-vertically-center-a-div-element-for-all-browsers-using-css  */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container>h1 {
    color: #5A5A5A;
    font-family: Montserrat;
    font-size: 17px;
    padding: 20px 6px 5px 6px;
}

.panel1 {
    display: flex;
    justify-content: space-around;
}

.panel1>div {
    background: rgba(255, 255, 255, 1);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 3px;
    padding: 5px;
    height: 70px;
    border-radius: 5px;

    overflow: auto;

    font-family: Lato;
    color: #5A5A5A;


    width: 25%;
    /* position: relative; */
    /* text-overflow: ellipsis;
    overflow: auto; */
}

.panel1 input {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 2px 5px;
    background-color: rgba(22, 22, 22, 0.1);
    color: #5A5A5A;
    border-radius: 5px;
    border: 0px solid red;
    /* height: 15px; */
}

.grow {
    width: 50% !important;
}

.title {
    font-weight: 700;
    font-size: 10px;
}

.value {
    font-weight: 300;
}

.verbal {
    font-size: 10px;
}

.value,
.verbal {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}















.panel2,
.panel3 {
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 5px;
    font-family: Lato;
    color: #5A5A5A;
    overflow: hidden;
}


.panel2 {
    height: 200px;
    margin: 3px;
}

.panel2 .title {
    padding-bottom: 5px;
}

.panel2 .table_container {
    height: 90%;
    overflow: auto;
}

.panel2 table {
    width: 100%;
    height: inherit;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 5px;
}

.panel2 td,
.panel2 th {
    border-bottom: 1px solid rgba(78, 78, 78, 0.03);
    text-align: left;
    padding: 8px;
    color: #979797;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 40px;
}

.panel2 th {
    /* these 3 lines use for sticky header in a table */
    background: #fafafa;
    position: sticky;
    box-shadow: 0 4px 4px -1px rgba(78, 78, 78, 0.1);
    top: 0;
    /* Don't forget this, required for the stickiness */
    padding: 2px 8px;
    font-size: 12px;
}

.panel2 tr:last-child td {
    border-bottom: 0px solid red;
}

.panel2 td {
    font-size: 10px;
}

.panel2 td:nth-child(2) {
    font-size: 12px;
}





.panel3 {
    margin: 10px 3px 3px 3px;
}

.panel3>form {
    display: flex;
}

.panel3>form>* {
    padding: 2px 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    background-color: rgba(22, 22, 22, 0.05);
    color: #5A5A5A;
    border: none;
    width: 100%;

    /* width: 100%; */
    /* height: 15px; */

}

.panel3 input {
    border: 0px solid red;
    margin: 0px 1px;
}

.panel3 input:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
    width: 30px;
}

.panel3 input:nth-child(2) {
    width: 100px;
}

.panel3 input:nth-child(4) {
    border-radius: 0px 5px 5px 0px;
}

.panel3 button {
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 10px;
    font-weight: 300;
    background-color: rgba(22, 22, 22, 0.5);
    color: white;
    height: 30px;
    /* overflow: hidden; */
}